{{!-- This is the create a property page --}} 
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form action="/api/properties/create" method="post" class="form-group">
                    <div class="form-group">
                        <input type="text" name="ref" placeholder="Reference" class="form-control" autofocus/>
                        <input type="text" name="title" placeholder="Title goes here" class="form-control"/>
                        <input type="text" name="description" class="form-control" placeholder="Description..."/>
                    </div>
                    <button class="btn btn-success btn-block" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
