<h1>INDEX PAGE</h1>
<div class="jumbotron">
    <h1 class="display-4">Create a property</h1>
    <p class="lead">Please select if you wish to create a property, edit a property or list all properties</p>
    <p>Pick from the options below</p>
    <a class="btn btn-primary btn-lg" href="#">Create property</a>
    <a class="btn btn-primary btn-lg" href="#">Edit property</a>
    <a class="btn btn-primary btn-lg" href="#">List properties</a>
</div>
