<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-xl-2">
    <a class="navbar-brand mr-5" href="#">NextProperty Panel</a>
    {{#if data.session}}
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li {{#if data.navbar.create}}class="active"{{/if}}>
                <a class="nav-link" href="/api/properties/create">Create</a>
            </li>
            <li {{#if data.navbar.list}}class="active"{{/if}}>
                <a class="nav-link" href="/api/properties/list">List</a>
            </li>
            <li {{#if data.navbar.edit}}class="active"{{/if}}>
                <a class="nav-link" href="#">Edit</a>
            </li>
            <li {{#if data.navbar.delete}}class="active"{{/if}}>
                <a class="nav-link" href="#">Delete</a>
            </li>
        </ul>
        {{window.location.href}}
        <form class="form-inline" action="/api/logout" method="post">
            <a class="navbar-brand">{{req.path}} Welcome {{data.session.loggedUser}}</a>
            <button class="btn btn-danger" type="submit">Log Out</button>
        </form>
    </div>
    {{/if}}
</nav>


